.inputs-contador{
    padding: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#container-contadores{
  display: flex;
  gap: 2rem;
}
.container-contador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#container-conteudo{
  padding: 100px;
}
.contador{
  font-size: 1.5rem;
  padding: 50px;
  background-color: #f0f0f0;
  border-radius: 10px;

}
#titulo-contador{
  margin-bottom: 20px;
  font-weight: bold;
}
.legenda{
  font-size: 1.5rem;
}