#container-geral {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 48, 48);
}
#container-conteudo{
    padding: 40px;
    background-color: #cccccc;
    border-radius: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}
#container-botao {
    display: flex;
    justify-content: center;
}
.botao{
    background-color: rgb(4, 71, 40);
    text-decoration: none;
    color: white;
    padding: 10px;
}
.inputs{
    padding: 10px;
}
.botao:hover{
    opacity: 0.8;
}